In [3]:
import pandas as pd
import numpy as np

In [2]:
def reformat_id(id):
 # split and reformat the df
    row, col = id.split('_')
    return int(row[1:]), int(col[1:])

def _read_df_in_format(root):
 
    df = pd.read_csv(root)
    df['row'], df['col'] = zip(*df['Id'].map(reformat_id))
    df.drop('Id', axis=1, inplace=True)
    return df

In [21]:
def _convert_df_to_matrix(df):
    n_row = df['row'].max()
    n_col = df['col'].max()
    # print(n_row)
    # print(n_col)
    row_id = df['row'].to_numpy() - 1 # id starts from 1
    col_id = df['col'].to_numpy() - 1

    data_matrix = np.zeros((n_row, n_col), dtype=np.int8)
    # Check! Data type could cause rounding errors!
    data_matrix[row_id, col_id] = df['Prediction'].to_numpy()
    is_provided = data_matrix!=0
    return data_matrix, is_provided

In [23]:
df = _read_df_in_format('data_train.csv')
print(len(df))
df_matrix = _convert_df_to_matrix(df)
df_matrix

1176952

(array([[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 5, 3, 3],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 3]], dtype=int8),
 array([[False, False, False, ..., False, False, False],
        [False, False, False, ...,  True,  True,  True],
        [False, False, False, ..., False, False, False],
        ...,
        [False, False, False, ..., False, False, False],
        [False, False, False, ..., False, False, False],
        [False, False, False, ..., False, False,  True]]))

In [43]:
columns = ['row','col','Prediction']
df = df[columns]
df

           row   col  Prediction
0           44     1           4
1           61     1           3
2           67     1           4
3           72     1           3
4           86     1           5
...        ...   ...         ...
1176947   9990  1000           4
1176948   9992  1000           5
1176949   9994  1000           3
1176950   9997  1000           4
1176951  10000  1000           3

[1176952 rows x 3 columns]

In [39]:
c=0
user=0
movie=0
rating=0
with open('ratings.dat') as f:
    for line in f:
        data=line.split('::')
        user=max(user,int(data[0]))
        movie=max(movie,int(data[1]))
        rating=max(rating,int(data[2]))
        c+=1
print(c)
print(user)
print(movie)
print(rating)
print(c/(user*movie))

1000209
6040
3952
5
0.04190220560634904

In [ ]:
b